// Aspect ratios

.ratio-16-9 {
  @include aspect-ratio(100, 56);
}

.ratio-square {
  @include aspect-ratio(100, 100);
}

.ratio-card {
  @include aspect-ratio(100, 80);
}

.ratio-poster {
  @include aspect-ratio(100, 150);
}

//flex
.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

//buttons

.btn {
  // background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-black {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 10px;
}

.btn-black:hover {
  background-color: #555555;
  color: white;
}

//inputs
.input-big[type='text'] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 10px;
}

.input-big[type='text']:focus {
  border: 3px solid #555;
}

//input search
.input-search[type='text'] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  transition: 0.2s;
  outline: none;
  border-radius: 12px;
  background-image: url('@/assets/new-search.png');
  background-position: 16px 14px;
  background-size: 25px;
  // background-size: contain;
  background-repeat: no-repeat;
  padding-left: 60px;
  margin: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}

.input-search[type='text']:focus {
  border: 3px solid #555;
}

//width
.w-50prec {
  width: 50%;
}

//form
// .form-width {
//   margin: auto;
//   max-width: 55%;
// }

//normal css
.form-center {
  position: relative;
  padding: 50px 50px;
  background-color: rgb(176, 202, 186);
  border-radius: 10px;
  width: fit-content;
}

.form-center h1 {
  font-size: 2em;
  border-left: 5px solid #2ac893;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

.form-center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}

.form-center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  transition: 0.4s;
}

.form-center .inputbox:last-child {
  margin-bottom: 0;
}

.inputbox input:focus {
  border: 4px solid #2ac893;
}

//position
.center {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin: auto;
}

//grid
.resp-grid {
  width: 90%;
  max-width: 1240px;
  margin: 10px auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Text
.align-center {
  text-align: center;
}

.vertical-text {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.tag-text {
  color: $clr1;
  text-transform: uppercase;
  @include type(boldCondensed);
}

//box-shadow
.nice-shadow {
  box-shadow: 0px 14px 32px 0px rgb(0 0 0 / 15%);
}

//card
.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  // min-height: 100%;

  // sets up hover state
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    // box-shadow: 0px 14px 32px 0px rgb(0 0 0 / 15%);
    cursor: pointer;
  }

  article {
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }

  p {
    flex: 1;
    line-height: 1.4;
  }

  span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }

  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
}

.modal {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.25); /* Black w/ opacity */
}

//mouse
.pointer {
  cursor: pointer;
}
